bdmpeg/
MODULES/
HShield/
other/movie/
_tmp/
log/
*.dll
LICENSE.TXT

uninstall.exe
alicia-launcher-cli.exe
alicia-editor-cli.exe
*.json
*.7z

# Just files for building the production installer
# they would inflate the repository unecesarilly.
res.pak.full
res.pak.prod